{% extends 'guest.html.twig' %}

{% block body %}
    <section id="offers-box">
        <div class="text-center mt-5 col-md-10  m-auto">
            <h2 class="text-center">Wszystko czego potrzebujesz</h2>

            <div class="col-xs-12 mt-5 clearfix">
                <div class="jumbotron jumbotron-fluid mr-lg-5 bg-info offer-box">
                    <i class="fa fa-bar-chart" style="color:white;font-size: 35px;" aria-hidden="true"></i>
                    <p class="mt-2 mb-0">Statystyki strony</p>
                </div>
                <div class="jumbotron jumbotron-fluid mr-lg-5 bg-success offer-box">
                    <i class="fa fa-server" style="color:white;font-size: 35px;" aria-hidden="true"></i>
                    <p class="mt-2 mb-0">Monitorowanie serwera</p>
                </div>
                <div class="jumbotron jumbotron-fluid mr-lg-5 bg-danger offer-box">
                    <i class="fa fa-comment" style="color:white;font-size: 35px;" aria-hidden="true"></i>
                    <p class="mt-2 mb-0">Powiadomienia o statusie</p>
                </div>
                <div class="jumbotron jumbotron-fluid mr-lg-2 bg-warning offer-box">
                    <i class="fa fa-info" style="color:white;font-size: 35px;" aria-hidden="true"></i>
                    <p class="mt-2 mb-0">Informacje o aktualizacjach</p>
                </div>
            </div>
        </div>
    </section>
    <section id="features-list">
        <h2 class="text-center">Dostępne funkcje</h2>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    f
                </div>
                <div class="col-xs-12 col-md-6">
                    f
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    f
                </div>
                <div class="col-xs-12 col-md-6">
                    f
                </div>
            </div>
        </div>
    </section>
{% endblock %}